<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pmp.platformServer.dao.VipPriceDao">
	

	<insert id="vipPriceAdd" parameterType="com.pmp.entity.VipLevelPriceEntity">
	  INSERT INTO viplevel_price(
				vipLevelId,
				subjectId,
				price,
				priceStatus,
				createTime,
				createId
		)VALUES(
				#{vipLevelId},
				#{subjectId},
				#{price},
				#{priceStatus},
				#{createTime},
				#{createId}
			)
	</insert>
	
	<select id="findSubject" parameterType="com.pmp.entity.VipLevelSubjectEntity">
	   select * from viplevel_subject t where t.isDel=0;
	</select>
	
	<select id="getLevelPriceById" parameterType="java.lang.Integer" resultType="com.pmp.platformServer.dto.VipLevelPriceDto">
	    SELECT t.id ,t.price ,t.priceStatus ,t.subjectId ,a.subjectName,t.vipLevelId FROM viplevel_price t ,viplevel_subject a
		   WHERE t.subjectId=a.id
		    AND t.id=#{subjectPriceId}
	</select>
	
	<update id="vipPriceUpdate" parameterType="com.pmp.platformServer.dto.VipLevelPriceDto">
			  update viplevel_price t set 
	                 t.price=#{price},
	                 t.priceStatus=#{priceStatus},
	                 t.updateTime=#{updateTime},
	                 t.updateId=#{updateId}
	          where t.id=#{id}
	</update>
</mapper>